<html lang="en">

<head>





<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap"
	rel="stylesheet">

<title>Help me Make!</title>
<style>
.titulo-principal {
	font-family: 'Reggae One', sans-serif;
	font-weight: bold;
	font-size: 25px;
}
</style>
</head>

<body>

	<header>
		<nav
			class="navbar navbar-expand navbar-dark bg-dark flex-column flex-md-row">
			<!-- Navbar content -->
			<a class="navbar-brand titulo-principal ml-3" href="home">Help me
				Make!</a>

		</nav>
	</header>

	<div class="container">
		<div class="row justify-content-center ">
			<form action="" class="mt-5 col-6 align-self-center">

				<div class="form-group">
					<label>Deseja fazer o que?</label> <input type="text" class="form-control "
						placeholder="Ex: Quem é Bill Gates?">
				</div>

				<div class="row justify-content-center">
					<button type="submit" class="btn btn-primary">Pesquisar</button>
				</div>
			</form>
		</div>
	</div>


</body>


</html>